*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #E5E5E5;
  font-size: 14px;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 1em;
  font-weight: 600;
}

h2 {
  font-size: 1em;
  text-align: left;
  color: #615D5D;
  font-weight: bold;
  margin: 10px 10px 10px 20px;
}

h3 {
  font-size: 1em;
  text-align: left;
  color: #FFFFFF;
}

h4 {
  color: #615D5D;
  text-align: left;
  font-weight: 600;
  padding-top: 10px;
}

h5 {
  color: #55B953;
  text-align: right;
  font-weight: bold;
  padding-top: 10px;
}

h6 {
  color: #615D5D;
  text-align: right;
  padding-top: 10px;
}

ul li {
  vertical-align: top;
}

::placeholder {
  font-size: 1em;
  text-align: left;
  color: #FFFFFF;
}

input[type=search] {
    -webkit-appearance: none;
}

button, input, select, textarea {
  font-family : inherit;
  font-size   : 100%;
  border: none;
  padding: 0px;
  background-color: #67CA65;
  color: #FFFFFF;
  margin-left: 0px;
}

.navbar {
  background-color: #55B953;
  width: 100%;
  color: #FFFFFF;
  padding: 20px 20px 20px 20px;
}

.title {
  text-align: center;
  display: inline-block;
  padding-top: 3px;
}

.icon {
  background-size: cover;
  width: 20px;
  height: 20px;

}

.back {
  background-image: url("../images/left-chevron-white-50.png");
  text-align: left;
  float: left;
  display: inline-block;
  background-size: cover;
  height: 20px;
  width: 15px;
}

.backtitle {
  display: inline-block;
  float: left;
  padding: 3px 0px 0px 2px;
}

.rightnav {
  background-image: url("../images/settings-icon-white-50.png");
  float: right;
  text-align: right;
}

.buscategory {
  margin: 0px;
  display: block;
  width: 100%;
}

.buslisting {
  background-color: #FFFFFF;
  color: #615D5D;
  text-align: left;
  box-shadow:  0px 5px 5px #D3D3D3;
  padding: 10px 20px 10px 20px;
  height: 75px;
  margin-bottom: 10px;
}

.busline {
  background-color: #F4B173;
  color: #FFFFFF;
  font-weight:bold;
  text-align: center;
  border-radius: 10px;
  padding: 6px;
  display: inline-block;
}

.outofservice {
  background-color: #C0C0C0;
}

.reroute {
  background-color: #DC143C;
}

.busdetails{
  display: inline;
}

.linedestination {
  float: left;
  display: inline;
  width: 58%;
}

.arrivaltime {
  display: inline;
  float: left;
  text-align: right;
  width: 35%;
}

.rightchevron {
  background-image: url("../images/right-chevron-grey-50.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  float: right;
  display: inline;
  height: 100%;
}

.directionbox {
  background-color: #55B953;
  color: #FFFFFF;
  font-size: 14px;
  text-align: left;
  padding: 5px 20px 5px 20px;
  height: 85px;
}

.startpoint {
  background-color: #55B953;
  color: #FFFFFF;
  font-size: 14px;
  text-align: left;
  display: block;
}

.yourlocation {
  width: 90%;
  padding: 5px;
  display: inline-block;
  margin-bottom: 0px;
}

.endpoint {
  background-color: #55B953;
  color: #FFFFFF;
  font-size: 14px;
  text-align: left;
  display: block;
  margin-top: 0px;
}

.location {
  background-image: url("../images/destination-icon-50.png");
  display: inline-block;
  margin-top: 7px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
}

.dot {
  background-image: url("../images/current-location-icon-50.png");
  display: inline-block;
  margin-top: 7px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
}


.statusbar {
  background-image: url("../images/status-bar.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 20px;
}

.preview {
  display: inline-block;
  background-color: #cccccc;
  background-size: cover;
  width: 100%;
  height: 300px;
  margin: 1%;
}

.map {
  background-image: url("../images/map.png");
  display: inline-block;
  background-color: #E5E5E5;
  background-size: cover;
  width: 100%;
  height: 300px;
}

/* 2 column for tablets: */
@media screen and (min-width: 575px) {
  .preview {
      margin: 1%;
      width: 45%;
    }
}

/* 4 column for laptops: */
@media screen and (min-width: 991px) {
  .preview {
      margin: 1%;
      width: 22%;
}
